*{
    /* Aplica la fuente Verdana como principal y establece fuentes de respaldo (Geneva, Tahoma) 
       con sans-serif como genérico si las otras no están disponibles. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    /* Elimina el margen por defecto de todos los elementos para evitar espacios exteriores no deseados. */
    margin: 0;
    
    /* Elimina el relleno por defecto de todos los elementos para evitar espacios interiores no deseados. */
    padding: 0;
    
    /* Establece el modelo de caja para que el padding y los bordes se incluyan dentro del ancho y alto 
       del elemento, lo que facilita el manejo del tamaño de los elementos. */
    box-sizing: border-box;
    
    /* Elimina los marcadores de listas (puntos, números) de todos los elementos de lista (<ul>, <ol>, etc.). */
    list-style: none;
    
    /* Evita que el contenido que sobrepase el ancho de la ventana genere una barra de desplazamiento horizontal. */
    overflow-x: hidden;
}

.body{
    /* Establece un color de fondo oscuro (marrón) para los elementos con la clase .body (#231709). */
    background-color: #231709;
    
    /* Aplica un relleno de 0 en la parte superior e inferior y un 7% del ancho de la ventana en los lados 
       izquierdo y derecho, creando un espaciado dinámico según el tamaño de la ventana. */
    padding: 0 7vw;
    
    /* Impide que el texto dentro de los elementos con la clase .body se pueda seleccionar. */
    user-select: none;
}

header{
    /* Establece la altura del elemento <header> a 70px. */
    height: 70px;

    /* Oculta cualquier contenido que se desborde del área del <header>. */
    overflow: hidden;

    /* Utiliza flexbox para alinear los elementos hijos del <header> en una fila. */
    display: flex;

    /* Distribuye los elementos hijos del <header> con el máximo espacio posible entre ellos. */
    justify-content: space-between;

    /* Alinea verticalmente los elementos hijos del <header> al centro, en relación con la altura del <header>. */
    align-items: center;
}

header div:nth-child(1) img{
    /* Establece un ancho fijo de 60px para la imagen dentro del primer div hijo del <header>. */
    width: 60px;
}

header div:nth-child(2) ul, header div:nth-child(3) ul{
    /* Utiliza flexbox para organizar los elementos de lista (<ul>) en una fila. */
    display: flex;

    /* Aplica un estilo de fuente en negrita a los elementos dentro de las listas. */
    font-weight: bold;

    /* Define el color del texto como blanco. */
    color: white;

    /* Establece el tamaño de la fuente en 13px para el texto de las listas. */
    font-size: 13px;
}

header div:nth-child(2) ul li, header div:nth-child(3) ul li{
    /* Aplica un margen de 0px en la parte superior e inferior, y 5px a los lados. */
    margin: 0 5px;

    /* Define un relleno de 5px vertical y 20px horizontal para los elementos de lista (<li>). */
    padding: 5px 20px;

    /* Inicialmente, define un borde de 1.5px transparente alrededor de los elementos de lista (<li>). */
    border: 1.5px solid transparent;

    /* Redondea las esquinas de los elementos de lista con un radio de borde de 20px. */
    border-radius: 20px;

    /* Cambia el cursor a un puntero cuando el usuario pasa el ratón sobre los elementos de lista (<li>),
       indicando que son interactivos. */
    cursor: pointer;

    /* Define una transición suave de 0.3 segundos para todos los cambios de estilo en los elementos <li>,
       como el cambio de borde cuando se hace hover. */
    transition: all 0.3s;
}

header div:nth-child(2) ul li:first-child, header div:nth-child(3) ul li:last-child{
    /* Aplica un borde blanco de 1.5px solo al primer <li> del segundo <ul> y al último <li> del tercer <ul>. */
    border: 1.5px solid white;
}

header div:nth-child(2) ul li:hover, header div:nth-child(3) ul li:hover{
    /* Cambia el borde a blanco cuando el usuario pasa el ratón sobre cualquier <li> dentro del segundo o
       tercer <ul>, creando un efecto visual de resalte al hacer hover. */
    border: 1.5px solid white;
}

.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sec1 div:nth-child(1){
    width: 350px;
    color: white;
}

.sec1 div:nth-child(1) h1{
    font-size: 5em;
}

.sec1 div:nth-child(1) h3{
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 15px;
}

.sec1 div:nth-child(2) img{
    width: 900px;
    height: 600px;
}

.btn-1{
    margin: 0 5px;
    padding: 5px 20px;
    border: 1.5px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-1:hover{
    background-color: white;
    color: #231709;

}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line div{
    background-color: white;
    width: 50px;
    height: 3px;
    border-radius: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.line div:nth-child(2){
    background-color: rgb(255,255,255,0.219);
    width: 70px;
}

.sec2{
    margin: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2 h1{
    font-size: 2.5rem;
}

.sec2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
}

.sec2 .container div{
    cursor: pointer;
    margin-top: 30px;
    background-color: #38250f;
    border: 1px solid white;
    border-radius: 5px;
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

.sec2 .container div:hover{
    transform: scale(1.04);
}

.sec2 .container div img{
    width: 100%;
    height: 210px;
    background-color: red; /*deletable*/
    object-fit: cover;
}

.sec2 .container div i{
    border: 1px solid white;
    padding: 5px 7px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 15px;
    transition: all 0.2s;
}

.sec2 .container div i:hover{ 
    background-color: white;
    color: #231709;
}

.sec3{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.sec3 div:nth-child(1) img{
    width: 500px;
}

.sec3 div:nth-child(2){
    max-width: 600px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 35px;
}

.sec div:nth-child(2) p{
    font-size: 12px;
    line-height: 25px;
    padding: 20px 0;
    text-align: justify;
}

.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-bottom: 80px;
}

.sec4div{
    width: 70%;
    padding: 10px 0;
}

.qns{
    width: 100%;
    border: 1px solid white;
    background-color: #38250f;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.qns div:nth-child(1){
    padding: 10px 20px;
}

.qns div h4{
    line-height: 30px;
    font-size: 0.8rem;
}

.qns div p{
    line-height: 17px;
    font-size: 0.7rem;
}

.qns .add{
    background-color: #b00404ac;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.fa-minus{
    padding: right 20px;
}

.add.none{
    background-color: transparent;
    height: 50px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.sec5{
    background-color: #38250f;
    border: 1px solid white;
    border-radius: 15px;
    padding: 50px;
    color: white;
    margin-bottom: 150px;

}

.sec5 h1{
    font-size: 2.4rem;
}

.sec5 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.sec5 h3{
    font-size: 1.1rem;
    padding: 10px 0;
    padding-bottom: 5px;

}

.sec5 p, .sec5 pre{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.sec5 .container div:nth-child(2){
    margin-left: 0px;
    width: 70%;
}

.sec5 form{
    padding: 0 20px;
}

.sec5 input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px;
    line-height: 20px;
    color: white;

}

.sec5 input::placeholder{
    color: rgb(255,255,255,0.512);
}

.sec5 .btn-1{
    margin-top: 20px;
}

.sec5 .container div:nth-child(3){
    width: 2px;
    height: 100px;
    background-color: white;
    margin: 70px 0;
}

.sec .container div:nth-child(4){
    display: flex;
    flex-direction: column;
}

.sec5 a{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    transition: all 0.2s;
}

.sec5 a:hover{
    background-color: white;
    color: #38250f;
}